@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
  width: 100%;
  font-family: "Sono", monospace;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
